<html>
<body >
 
    <form action=""   method="POST">
<div class="container d-flex justify-content-center align-items-center">
    <div class="card">
        <div class="user text-center">
            <div class="profile mt-5 "> <img src="assets/77.jpg" class="rounded-circle" width="80"> </div><br>
        </div>
        <div class="mt-5 ">
            <h2 class="mb-1 mt-5 ms-3"  >Name:</h2>
            <input type="text" class="form-control h1" id="name"  name="name"  value="asd" style="border: 0;outline: 0;border-bottom: 2px solid" > <br>
            <br>
            <span class="text-muted d-block mb-1 ms-3 mt-3"><h2>Email:</h2> 
                <input type="text" class="form-control h1" id="email"  name="email"  value="asd@gmail.com" style="border: 0;outline: 0;border-bottom: 2px solid" > <br>
            </span>
            <button type="button"  (click)="togeltextboxforpassword()" class="btn btn-outline-info mb-3">Change Password</button>
            <span class="text-muted d-block mb-1 ms-3 mt-3 " *ngIf="showtextboxforpassword"><h4>Old Password:</h4> 
                <input type="text" class="form-control" id="oldpassword"  name="oldpassword"  style="border: 0;outline: 0;border-bottom: 2px solid" > <br>
                <h4>New Password:</h4> 
                <input type="text" class="form-control" id="password"  name="password"  style="border: 0;outline: 0;border-bottom: 2px solid" > <br>
           </span>
                   
    </div>
    <button type="submit" class="btn btn-outline-success mt-3">Update</button>
      
        </div>
    </div>
</form>









 