<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                    <div class="card-img-left d-none d-md-flex">
                    </div>
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center mb-5 fw-light fs-5">Edit Profile</h5>
                        <form (ngSubmit)="edit()" m ethod="POST">

                            <div class="form-floating mb-3">
                                <h2 class="mb-1 mt-5 ms-3">Name:</h2>
                                <input type="text" class="form-control h1" id="name" name="name" [(ngModel)]="newuserdata.name" style="border: 0;outline: 0;border-bottom: 2px solid"> <br>
                            </div>
                            <div class="form-floating mb-3">
                                <h2>Email:</h2>
                                <input type="text" class="form-control h1" id="email" name="email" [(ngModel)]="newuserdata.email" style="border: 0;outline: 0;border-bottom: 2px solid"> <br>
                            </div>

                            <div  >
                                <button type="button"  (click)="togeltextboxforpassword()" class="btn btn-outline-info mb-3">Change Password</button>
                                <span class="text-muted d-block mb-1 ms-3 mt-3 " *ngIf="showtextboxforpassword"><h4>Old Password:</h4> 
                                    <input type="text" class="form-control" id="oldpassword" #ol  [(ngModel)]="oldpassword"    name="oldpassword"  style="border: 0;outline: 0;border-bottom: 2px solid" > <br>
                                    <button type="button" (click)="chechpassword(ol.value)"  class="btn btn-outline-info mb-3">check Password</button>
                               </span>
                               <span *ngIf="trupasssord ==false"  ><h4 class="text-danger"> enter correct password</h4> 
                                     </span>
                                    <span *ngIf="trupasssord && !newshowtextboxforpassword"><h4>Edit  Password:</h4> 
                                    <input type="text" class="form-control" id="password"  name="password"  style="border: 0;outline: 0;border-bottom: 2px solid" [(ngModel)]="newuserdata.password" > <br>
                                </span>
            
                            </div>

                            <div class="d-grid mb-2">
                                <button type="submit" class="btn btn-lg btn-outline-primary btn-login fw-bold text-uppercase">Update</button>

                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
