<!DOCTYPE html>
<html>

<body class="">



    <div class="container">

        <div class="card">
            <div class="container-fliud ">
                <div class="wrapper row">
                    <div class="preview col-md-6">

                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-1"><img src="http://localhost:8000/assets/uploads/{{prd.image}}" /></div>
                        </div>


                    </div>
                    <div class="details col-md-6">
                        <h3 class="product-title">{{prd.name}}</h3>
                        <div class="rating">
                            <input type="radio" (click)="addrate(starts_rate5.value)" #starts_rate5 name="stars_rated" value="5" id="5">
                            <label #starts_rate for="5">☆</label>
                            <input (click)="addrate(starts_rate4.value)" #starts_rate4 type="radio" name="stars_rated" value="4" id="4">
                            <label #starts_rate for="4">☆</label>
                            <input (click)="addrate(starts_rate3.value)" #starts_rate3 type="radio" name="stars_rated" value="3" id="3">
                            <label #starts_rate for="3"> ☆</label>
                            <input (click)="addrate(starts_rate2.value)" #starts_rate2 type="radio" name="stars_rated" value="2" id="2">
                            <label #starts_rate for="2">☆</label>
                            <input (click)="addrate(starts_rate1.value)" #starts_rate1 type="radio" name="stars_rated" value="1" id="1">
                            <label #starts_rate for="1">☆</label>
                            <hr>
                        </div>
                        <p class="product-description">{{prd.small_description}}</p>
                        <hr>
                        <p class="product-description">{{prd.description}}</p>
                        <h4 class="price">current price: <span>${{prd?.selling_price}}</span></h4>


                        <p class="vote"><strong>({{allreview.length}} Reviews)</strong>
                        </p>

                        <button class="btn btn-primary " (click)="toggle() " type="button " data-toggle="collapse " data-target="#collapseExample " aria-expanded="false " aria-controls="collapseExample ">
                            Add Review
                            </button>
                        <br>
                        <br>
                        <ng-container *ngIf="flag ">

                            <div class="col-md-8 container ">
                                <div id="review-form">
                                    <form    (ngSubmit)="addReview()" #formvali="ngForm">
                                       
                                        <div class="form-group">
                                            <input class="input" type="text" id="user_review" name="user_review" placeholder="Reiew" #user_review="ngModel" [(ngModel)]="review.user_review"
                                             required [class.is-valid]="user_review.valid" [class.is-invalid]="user_review.invalid"  style="height: 100px;">
                                            <div [hidden]="user_review.valid ||user_review.untouched">
                                                <small *ngIf="user_review.errors?.['required']">
                                                    <h4 class="text-danger">Review required</h4>
                                                  </small>
                                            </div>
                                            </div>
                                            
                        <input type="submit" class="primary-btn btn-success" [disabled]="formvali.invalid" value="Place order">
                      
                                       
                                    </form>
                                </div>
                            </div>
                            <br>

                        </ng-container>
                        <div class="action ">
                            <button class="add-to-cart btn btn-default " (click)="addtocart(prd)" type="button ">add to cart</button>
                            <button class="like btn btn-default " (click)="addtowishlist(prd)" type="button "><span class="fa fa-heart "></span></button>
                        </div>
                        <ng-container *ngFor="let rivew of allreview">
                        </ng-container>
                        <!-- {{allreview.length}} reiew <br> -->
                        <!-- <div class="col-md-6 col-xs-6"> -->
                        <!-- <div class="footer">
                            <h3 class="footer-title">Reviews</h3>
                            <ng-container *ngFor="let rivew of allreview">
                                <ul class="footer-links">
                                    <li routerLinkActive="active">
                                        <p>{{rivew.user_review}}</p>
                                    </li>
                                </ul>
                            </ng-container>
                        </div> -->
                    </div>
                </div>
            </div>

        </div>
        <br>
        <br>
        <br>

    </div>








</body>


</html>
