<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>eCommerce Product Detail</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

</head>

<body>

    <div class="container">
        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">
                        <div class="preview-pic tab-content">
                            <img src="http://localhost:8000/assets/{{prd.image}}" alt=" ">
                        </div>
                    </div>
                    <div class="details col-md-6">
                        <h3 class="product-title">{{prd?.name}}
                        </h3>

                        <div class="mb-3">
                            <ngb-rating [formControl]="ctrl" (click)="addrate(ctrl.value)"></ngb-rating>
                            {{ctrl.value}}
                            <div class="form-text font-omedium">
                                <div *ngIf="ctrl.valid" class="text-success">Thanks!</div>
                                <div *ngIf="ctrl.invalid" class="text-danger">Please rate us</div>
                            </div>
                        </div>

                        <hr>

                        <button class="btn btn-sm btn-outline-primary me-2" (click)="ctrl.setValue(null)">Clear</button>
                        <hr>



                        <pre>Rate: <b>{{currentRate}}</b></pre>
                        <div class="col-md-8">
                            <div id="review-form">
                                <form class="review-form" [formGroup]="userformgroup" (ngSubmit)="addreview()">
                                    <input class=" input " type="text " placeholder="Your Name ">
                                    <input class="input " type="email " placeholder="Your Email ">
                                    <textarea class="input " formControlName="user_review" name="user_review" id="user_review" [class.is-valid]="user_review?.valid" [class.is-invalid]="user_review?.invalid" [(ngModel)]="review.user_review" placeholder="Your Review "></textarea>
                                    <div class="input-rating ">
                                        <span>Your Rating: </span>
                                        <div class="stars ">
                                            <input id="star5 " name="rating " value="5 " type="radio "><label for="star5 "></label>
                                            <input id="star4 " name="rating " value="4 " type="radio "><label for="star4 "></label>
                                            <input id="star3 " name="rating " value="3 " type="radio "><label for="star3 "></label>
                                            <input id="star2 " name="rating " value="2 " type="radio "><label for="star2 "></label>
                                            <input id="star1 " name="rating " value="1 " type="radio "><label for="star1 "></label>
                                        </div>
                                    </div>
                                    <button class="primary-btn ">Submit</button>
                                </form>
                            </div>
                        </div>
                        <hr>
                        <div class="rating ">

                            <div class="stars ">
                                <!-- <span class="fa fa-star fa-2x " [class.rate]="israted " (click)="changerate() "></span>
                                <span class="fa fa-star fa-2x " [class.rate]="israted " (click)="changerate() "></span>
                                <span class="fa fa-star fa-2x " [class.rate]="israted " (click)="changerate() "> </span>
                                <span class="fa fa-star fa-2x " [class.rate]="israted " (click)="changerate() "></span>
                                <span class="fa fa-star fa-2x " [class.rate]="israted " (click)="changerate() "></span> -->
                            </div>
                            <span class="review-no ">41 reviews</span>
                        </div>
                        <p class="product-description "> {{prd?.description}}</p>
                        <h4 class="price ">current price: <span>${{prd?.selling_price}}</span></h4>
                        <p class="vote "><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
                        <h5 class="sizes ">Description:
                            <span class="size " data-toggle="tooltip " title="small ">{{prd?.small_description}}</span>
                        </h5>
                        <div class="action ">
                            <button class="add-to-cart btn btn-default " type="button ">add to cart</button>
                            <button class="like btn btn-default " type="button "><span class="fa fa-heart "></span></button>
                        </div>



                        <!-- /Review Form -->
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br>
    <br>
    <br>


</body>

</html>
