.gradient-custom {
    /* fallback for old browsers */
    background: #d2c3e3;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(216, 197, 237), rgb(176, 200, 240));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(198, 182, 215), rgb(185, 210, 253))
}

.container {
    font-size: medium;
}

a {
    font-size: medium;
}

.plus {
    height: 35px;
}

.item {
    font-size: medium;
}