<!-- FOOTER -->
<footer id="footer">
    <!-- top footer -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-4 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">About Us</h3>
                        <p> Website allows sellers to present their products and customers can log into website and select any product they want.
                        </p>
                        <ul class="footer-links">
                            <li><a href="#"><i class="fa fa-map-marker"></i>1734 Assuit Road</a></li>
                            <li><a href="#"><i class="fa fa-phone"></i> +20 106-253-5301</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i>electroe255@gmail.com</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Categories</h3>
                        <ng-container *ngFor="let cart of categorylist">
                            <ul class="footer-links">
                                <li routerLinkActive="active">
                                    <a data-toggle="tab" routerLink="/productbycat/{{cart.id}}" routerLinkActive="active">{{cart.name}}</a>
                                </li>
                            </ul>
                        </ng-container>
                    </div>
                </div>

                <div class="clearfix visible-xs"></div>



                <div class="col-md-4 col-xs-6" *ngIf="loggedin()">
                    <div class="footer">
                        <h3 class="footer-title">Service</h3>
                        <ul class="footer-links">
                            <li><a routerLink="/myprofile" *ngIf="loggedin()" routerLinkActive="active">My Account</a></li>
                            <li><a *ngIf="loggedin()" routerLink="/cart" routerLinkActive="active">View Cart</a></li>
                            <li><a *ngIf="loggedin()" routerLink="/mywishlist" routerLinkActive="active">Wishlist</a></li>
                            <li><a *ngIf="loggedin()" routerLink="/myorder" routerLinkActive="active">Track My Order</a></li>
                            <li><a *ngIf="loggedin()" routerLink="/checkout" routerLinkActive="active">Checkout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /top footer -->

    <!-- bottom footer -->
    <div id="bottom-footer" class="section">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="footer-payments">
                        <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                        <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                    </ul>

                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->
