<!-- HEADER -->
<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="#"><i class="fa fa-phone"></i> +20 106-253-5301</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i> electroe255@gmail.com</a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i> 1734 Assuit Road</a></li>
            </ul>
            <ul class="header-links pull-right">
                <li><a routerLink="/login" *ngIf="!loggedin()" routerLinkActive="active"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
                <li><a routerLink="/register" *ngIf="!loggedin()" routerLinkActive="active"><i class="fa fa-registered" aria-hidden="true"></i> Register</a></li>
                <li><a routerLink="/home" routerLinkActive="active"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                <li><a routerLink="/search" routerLinkActive="active"><i class="fa fa-search" aria-hidden="true"></i> Search</a></li>
                <li><a routerLink="/myprofile" *ngIf="loggedin()" routerLinkActive="active"><i class="fa fa-user-o"></i> My Account</a></li>
                <li><a type="button" *ngIf="loggedin()" class="btn" (click)="logoutuser()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>


            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="#" class="logo">
                            <img src="assets/img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
            
                <!-- /SEARCH BAR -->
                <ng-container *ngIf="loggedin()">

                    <!-- ACCOUNT -->
                    <div class="col-md-4 clearfix ms-5" style="margin-left:15% ;">
                        <div class="header-ctn">
                            <!-- Wishlist -->
                            <div>
                                <a routerLink="/mywishlist" routerLinkActive="active">
                                    <i class="fa fa-heart-o"></i>
                                    <!-- <i class="bi bi-bag-check"></i> -->

                                    <span>Your Wishlist</span>
                                    <!-- <div class="qty">2</div> -->
                                </a>
                            </div>
                            <div>
                                <a routerLink="/myorder" *ngIf="loggedin()" routerLinkActive="active">
                                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                    <span>Your Order</span>
                                    <!-- <div class="qty">2</div> -->

                                </a>


                            </div>
                            <!-- /Wishlist -->

                            <!-- Cart -->
                            <div class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Your Cart</span>
                                    <!-- <div class="qty">3</div> -->
                                </a>
                                <div class="cart-dropdown">
                                    <div class="cart-list">

                                        <ng-container *ngFor="let cart of cartlist">
                                            <ng-container *ngFor="let prod of prdlisticat let i=index">
                                                <ng-container *ngIf="prod.id==cart.product_id">
                                                    <div class="product-widget">
                                                        <div class="product-img">
                                                            <img src="http://localhost:8000/assets/uploads/{{prod.image}}" alt="">
                                                        </div>
                                                        <div class="product-body">
                                                            <h3 class="product-name"><a href="#"> {{prod.name}}</a></h3>
                                                            <h4 class="product-price"><span class="qty">{{cart.prod_qty }}x
                                                </span>${{sum(prod.selling_price,cart.prod_qty)}}.00</h4>
                                                        </div>
                                                        <button class="delete"><i class="fa fa-close"></i></button>
                                                    </div>
                                                </ng-container>
                                            </ng-container>
                                        </ng-container>

                                    </div>

                                    <div class="cart-btns">

                                        <a routerLink="/cart" routerLinkActive="active">View Cart</a>
                                        <a routerLink="/checkout" routerLinkActive="active">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- /Cart -->

                            <!-- Menu Toogle -->
                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>Menu</span>
                                </a>
                            </div>
                            <!-- /Menu Toogle -->
                        </div>
                    </div>
                    <!-- /ACCOUNT -->
                </ng-container>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/nouislider.min.js"></script>
<script src="assets/js/jquery.zoom.min.js"></script>
<script src="assets/js/main.js"></script>
<!-- </ng-container> -->
