
.progress{
    height: 7px;
    background: #f8f8f8;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 30px;
    overflow: visible;
}
.progress .progress-bar{
    box-shadow: none;
    border-radius: 0;
    position: relative;
    -webkit-animation: animate-positive 2s;
    animation: animate-positive 2s;
}
.progress .progress-bar:before,
.progress .progress-bar:after{
    content: "";
    width: 20px;
    height: 20px;
    background: #fff;
    position: absolute;
    top: -6px;
    right: 16px;
    transform: rotate(45deg);
}
.progress .progress-bar:after{
    border: 4px solid #fff;
    position: absolute;
    right: 2px;
}
 
 
.progress.blue .progress-bar:before,
.progress.blue .progress-bar:after{
    outline: 4px solid #20a39e;
}
.progress.blue .progress-bar:after{
    background: #20a39e;
}
@-webkit-keyframes animate-positive{
    0%{ width: 0; }
}
@keyframes animate-positive{
    0%{ width: 0; }
}
 