<div class="container mt-5">
    <div class="container-fluid my-5 d-flex justify-content-center">
        <div class="card card-1">
            <div class="card-header bg-white">
                <div class="media flex-sm-row flex-column-reverse justify-content-between ">
                    <div class="col my-auto">
                        <h4 class="mb-0">Thanks for your Order </h4>
                    </div>

                </div>
            </div>
            <div class="card-body">
                <div class="row justify-content-between mb-3">
                    <div class="col-auto">
                        <h6 class="color-1 mb-0 change-color">Receipt</h6>
                    </div>
                    <div class="col-auto "> <small>Receipt Voucher : 1KAU9-84UIL</small> </div>
                </div>
                <ng-container *ngFor="let order of orderitmlist">

                    <div class="row mt-4">
                        <div class="col">
                            <div class="card card-2">
                                <div class="card-body">
                                    <div class="media">
                                        <ng-container *ngFor="let prod of prdlisticat">
                                            <ng-container *ngIf="prod.id==order.product_id">
                                                <div class="sq align-self-center ">

                                                    <img class="img-fluid my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0" src="http://localhost:8000/assets/uploads/{{prod.image}}" width="135" height="135" /> </div>
                                                <div class="media-body my-auto text-right">
                                                    <div class="row my-auto flex-column flex-md-row">

                                                        <div class="col-auto my-auto " style="margin-left:20% ;">


                                                            <h4>{{prod.name}} </h4>

                                                        </div>

                                                        <div class="col my-auto">
                                                            <h4>Quantity : {{order.quantity}}</h4>
                                                        </div>
                                                        <div class="col my-auto">
                                                            <h4 class="mb-0">$ {{order.total_price}}</h4>
                                                        </div>
                                                    </div>

                                                </div>


                                            </ng-container>
                                        </ng-container>
                                    </div>
                                    <hr class="my-3 ">
                                    <div class="row">
                                        <div class="col-md-3 mb-3"> </div>
                                        <div class="col mt-auto">
                                            <div class="progress my-auto">

                                                <ng-container *ngFor="let ordr of orderlist">

                                                    <ng-container *ngIf="ordr.id==order.order_id">
                                                        <div class="progress blue">
                                                            <div class="progress-bar progress-bar rounded" [style.width]="(ordr.status==0)?'370px':'810px'" style="width:90%; background:#20a39e;"></div>
                                                        </div>
                                                    </ng-container>
                                                </ng-container>
                                            </div>
                                            <div style="margin-top: 20px; color: brown;">
                                                <div class=" "> <span style="margin-left: 40%;margin-top: 20px ;"> <span class="text-right h5 ">Out for delivary </span><i class="fa fa-circle active"></i></span>
                                                    <span style="margin-left: 30%;margin-top: 20px ;"> <span class="text-right h5 ">Delivered </span><i class="fa fa-circle "></i></span>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </ng-container>


            </div>
            <div class="card-footer ">
                <div class="jumbotron-fluid ">
                    <div class="row justify-content-between ">
                        <div class="col-sm-auto col-auto my-auto ">
                            <br>
                            <h2 class="mb-0 font-weight-bold " style="color:aliceblue ">TOTAL PAID</h2><br>
                        </div>

                    </div>
                    <div class="row mb-3 mt-3 mt-md-0 ">
                        <div class="col-auto border-line "> <small class="text-white ">PAN:AA02hDW7E</small></div>
                        <div class="col-auto border-line "> <small class="text-white ">CIN:UMMC20PTC </small></div>
                        <div class="col-auto "><small class="text-white ">GSTN:268FD07EXX </small> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
