<html>
<body >
 
<div class="container d-flex justify-content-center align-items-center">
    <div class="card">
        <div class="upper"> <img src="assets/5.jpg" class="img-fluid"> </div>
        <div class="user text-center">
            <div class="profile"> <img src="" class="rounded-circle" width="80"> </div>
        </div>
        <div class="mt-5 text-center">
            <h2 class="mb-0 mt-5">name:asdname<a  href=""><i class="bi bi-pencil-square"></i></a></h2> <br>
            <span class="text-muted d-block mb-2">asd@gmail.com</span>
            
            <span class="text-muted d-block mb-2">rle :user</span><br>
            <span class="text-muted d-block mb-2">
            <form action=""  method="post">
            
               <button type="submit" style=" color:red" class="btn "><i class="bi bi-trash3 " ></i>Delete Acount</button> 
            </form> 
            </span>           
    
        </div>
    </div>
</div>
@endsection











<!--<section>
    <div class="container">
    	<div class="row">
    	   
    		
    		<!--Profile Card 3-->
    		<!--<div class="col-md-4">
    		    <div class="card profile-card-3">
    		        <div class="background-block">
    		            <img src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="profile-sample1" class="background"/>
    		        </div>
    		        <div class="profile-thumb-block">
    		            <img src="https://randomuser.me/api/portraits/men/41.jpg" alt="profile-image" class="profile"/>
    		        </div>
    		        <div class="card-content">
                    <h3>Justin Mccoy<small>Designer</small></h3>
                    <div class="icon-block"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"> <i class="fa fa-twitter"></i></a><a href="#"> <i class="fa fa-google-plus"></i></a></div>
                    </div>
                </div>
                <p class="mt-3 w-100 float-left text-center"><strong>Modren Profile Card</strong></p>
    		</div>
    	
    		</div>
            </div>
</section>-->
