<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            <div id="aside">

                <div class="aside">
                    <h1 class="aside-title" style="color: brown;font-size: larger;">SEARCH</h1>
                    <div class="checkbox-filter">
                        <div class="col-12 head" style="display: inline-block;">
                            <div class="header-search ">
                                <select class="input-select" id="selct" name="selct" [(ngModel)]="categryid" (click)="getcategryid(categryid)">
                                    <option value="0">All Categories</option>
                                    <option   *ngFor="let prd of categorylist"   [value]="prd.id">{{prd.name}}</option>
                                </select>
                                <input class="input" type="text" [(ngModel)]="filterBy" placeholder="Search For ... " (keyup)="filter($event)">
                                <ng-container *ngIf="!product.length  && values  ">
                                    <h1>
                                        Not Found
                                    </h1>
                                </ng-container>
                                <div class="container">
                                    <div class="row ">
                                        <owl-carousel-o [options]="customOptions">
                                            <ng-container *ngFor=" let prd of product">
                                                <ng-template carouselSlide [i]="prd.id">
                                                    <div class="product ms-4 me-4">
                                                        <div class=" product-img ">
                                                            <img src="http://localhost:8000/assets/uploads/{{prd.image}} " height="300px" alt=" ">
                                                        </div>
                                                        <div class="product-body ">
                                                            <h1 class="product-name1 h1 "> {{ prd.name }} </h1>
                                                            <hr>
                                                            <h3 class="product-name1  "> {{ prd.small_description }} </h3>
                                                            <h3 class="product-price ">${{prd.selling_price}} <del class="product-old-price "> $2000</del></h3>
                                                            <div class="product-rating ">
                                                                <i class="fa fa-star "></i>
                                                                <i class="fa fa-star "></i>
                                                                <i class="fa fa-star "></i>
                                                                <i class="fa fa-star "></i>
                                                                <i class="fa fa-star "></i>
                                                            </div>
                                                            <div class="product-btns ">
                                                                <button class="add-to-wishlist " (click)="addtowishlist(prd) "><i class="fa fa-heart-o "></i><span class="tooltipp ">add to wishlist</span></button>
                                                                <button class="add-to-compare "><i class="fa fa-exchange "></i><span class="tooltipp ">add to compare</span></button>
                                                                <button class="quick-view " (click)="opendtails(prd.id) "><i class="fa fa-eye "></i><span class="tooltipp ">quick view</span></button>
                                                            </div>
                                                        </div>
                                                        <div class="add-to-cart ">
                                                            <button class="add-to-cart-btn " (click)="addtocart(prd) "><i class="fa fa-shopping-cart "></i> add to cart</button>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <br>
                                                    <br>
                                                </ng-template>
                                            </ng-container>
                                        </owl-carousel-o>
                                        <div class="clearfix visible-lg visible-xs "></div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container">
                <div class="row ">
                    <owl-carousel-o [options]="customOptions">
                        <ng-container *ngFor=" let prd of  productcategryid ">
                            <ng-template carouselSlide [i]="prd.id">
                                <div class="product ms-4 me-4">
                                    <div class=" product-img ">
                                        <img src="http://localhost:8000/assets/uploads/{{prd.image}} " height="300px" alt=" ">
                                    </div>
                                    <div class="product-body ">
                                        <h1 class="product-name1 h1 "> {{ prd.name }} </h1>
                                        <hr>
                                        <h3 class="product-name1  "> {{ prd.small_description }} </h3>
                                        <h3 class="product-price ">${{prd.selling_price}} <del class="product-old-price "> $2000</del></h3>
                                        <div class="product-rating ">
                                            <i class="fa fa-star "></i>
                                            <i class="fa fa-star "></i>
                                            <i class="fa fa-star "></i>
                                            <i class="fa fa-star "></i>
                                            <i class="fa fa-star "></i>
                                        </div>
                                        <div class="product-btns ">
                                            <button class="add-to-wishlist " (click)="addtowishlist(prd) "><i class="fa fa-heart-o "></i><span class="tooltipp ">add to wishlist</span></button>
                                            <button class="add-to-compare "><i class="fa fa-exchange "></i><span class="tooltipp ">add to compare</span></button>
                                            <button class="quick-view " (click)="opendtails(prd.id) "><i class="fa fa-eye "></i><span class="tooltipp ">quick view</span></button>
                                        </div>
                                    </div>
                                    <div class="add-to-cart ">
                                        <button class="add-to-cart-btn " (click)="addtocart(prd) "><i class="fa fa-shopping-cart "></i> add to cart</button>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <br>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                    <div class="clearfix visible-lg visible-xs "></div>
                </div>
            </div>

            <!-- <div class="container">
                <div class="row">
                    <owl-carousel-o [options]="customOptions">
                        <ng-container *ngFor="let prod of  productcategryid">
                            <ng-template carouselSlide>
                                <div class="col-md-4 col-xs-6 ">
                                    <div class="product ">
                                        <div class="product-img ">
                                            <img src="http://localhost:8000/assets/uploads/{{prod.image}} " height="300px " alt=" ">
                                        </div>
                                        <div class="product-body ">
                                            <h1 class="product-name h1 "> {{ prod.name }} </h1>
                                            <h3 class="product-price ">${{ prod.selling_price }} <del class="product-old-price "> ${{ prod.original_price }}</del></h3>
                                            <div class="product-rating ">
                                                <i class="fa fa-star "></i>
                                                <i class="fa fa-star "></i>
                                                <i class="fa fa-star "></i>
                                                <i class="fa fa-star "></i>
                                                <i class="fa fa-star "></i>
                                            </div>
                                            <div class="product-btns ">
                                                <button class="add-to-wishlist " (click)="addtowishlist(prod) "><i class="fa fa-heart-o "></i><span class="tooltipp ">add to wishlist</span></button>
                                                <button class="add-to-compare "><i class="fa fa-exchange "></i><span class="tooltipp ">add to compare</span></button>
                                                <button class="quick-view " (click)="opendtails(prod.id) "><i class="fa fa-eye "></i><span class="tooltipp ">quick view</span></button>
                                            </div>
                                        </div>
                                        <div class="add-to-cart ">
                                            <button class="add-to-cart-btn " (click)="addtocart(prod) "><i class="fa fa-shopping-cart "></i> add to cart</button>
                                        </div>
                                    </div>
                                </div>

                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>

                    <div class="clearfix visible-lg visible-xs "></div>




                </div>

            </div> -->

            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->