<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Electro - HTML Ecommerce Template</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">



</head>

<body>


    <!-- --------------------->
    <!-- BREADCRUMB -->
    <div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="breadcrumb-header">Checkout</h3>
                    <ul class="breadcrumb-tree">
                        <li><a href="#">Home</a></li>
                        <li class="active">Checkout</li>
                    </ul>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /BREADCRUMB -->

    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <form (ngSubmit)="insert()" #formvali="ngForm">
                    <div class="col-md-7">
                        <!-- Billing Details -->
                        <div class="billing-details">
                            <div class="section-title">
                                <h3 class="title">Billing address</h3>
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" id="fname" name="fname" placeholder="First Name" #fname="ngModel" [(ngModel)]="newshipping.fname" required [class.is-valid]="fname.valid" [class.is-invalid]="fname.invalid">
                                <div [hidden]="fname.valid ||fname.untouched">
                                    <small *ngIf="fname.errors?.['required']">
                                        <h6 class="text-danger"> Frist name required</h6>
                                      </small>
                                </div>



                            </div>
                            <div class="form-group">
                                <input class="input" type="text" name="lname" placeholder="Last Name" [(ngModel)]="newshipping.lname" required #lname="ngModel" [class.is-valid]="lname.valid" [class.is-invalid]="lname.invalid">
                                <div [hidden]="lname.valid ||lname.untouched">
                                    <small *ngIf="lname.errors?.['required']">
                                        <h6 class="text-danger"> Last name required</h6>
                                      </small>
                                </div>

                            </div>
                            <div class="form-group">
                                <input class="input" type="email" name="email" placeholder="Email" [(ngModel)]="newshipping.email" required [class.is-valid]="email.valid" [class.is-invalid]="email.invalid" #email="ngModel">
                                <div [hidden]="email.valid ||email.untouched">
                                    <small *ngIf="email.errors?.['required']">
                                        <h6 class="text-danger"> Email required</h6>
                                      </small>
                                </div>

                            </div>
                            <div class="form-group">
                                <input class="input" type="text" name="address1" placeholder="Addressone" [(ngModel)]="newshipping.address1" required [class.is-valid]="address1.valid" [class.is-invalid]="address1.invalid" #address1="ngModel">
                                <div [hidden]="address1.valid ||address1.untouched">
                                    <small *ngIf="address1.errors?.['required']">
                                        <h6 class="text-danger">  Address one  required</h6>
                                      </small>
                                </div>

                            </div>
                            <div class="form-group">
                                <input class="input" type="text" name="address2" placeholder="Addresstwo" [(ngModel)]="newshipping.address2" required [class.is-valid]="address2.valid" [class.is-invalid]="address2.invalid" #address2="ngModel">
                                <div [hidden]="address2.valid ||address2.untouched">
                                    <small *ngIf="address2.errors?.['required']">
                                        <h6 class="text-danger">Address two required</h6>
                                      </small>
                                </div>

                            </div>
                            <div class="form-group">
                                <input class="input" type="text" name="city" placeholder="City" [(ngModel)]="newshipping.city" required [class.is-valid]="city.valid" [class.is-invalid]="city.invalid" #city="ngModel">

                                <div [hidden]="city.valid ||city.untouched">
                                    <small *ngIf="city.errors?.['required']">
                                        <h6 class="text-danger"> City required</h6>
                                      </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" name="country" placeholder="Country" [(ngModel)]="newshipping.country" required [class.is-valid]="country.valid" [class.is-invalid]="country.invalid" #country="ngModel">

                                <div [hidden]="country.valid ||country.untouched">
                                    <small *ngIf="country.errors?.['required']">
                                        <h6 class="text-danger">Country required</h6>
                                      </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" name="state" placeholder="State" [(ngModel)]="newshipping.state" required [class.is-valid]="state.valid" [class.is-invalid]="state.invalid" #state="ngModel">
                                <div [hidden]="state.valid ||state.untouched">
                                    <small *ngIf="state.errors?.['required']">
                                        <h6 class="text-danger">State required</h6>
                                      </small>
                                </div>

                            </div>
                            <div class="form-group">
                                <input class="input" type="text" name="phone" placeholder="Telephone" [(ngModel)]="newshipping.phone" required [class.is-valid]="phone.valid" [class.is-invalid]="phone.invalid" #phone="ngModel">
                                <div [hidden]="phone.valid ||phone.untouched">
                                    <small *ngIf="phone.errors?.['required']">
                                        <h6 class="text-danger">  Telephone number required</h6>
                                      </small>
                                </div>

                            </div>

                            <div class="form-group">
                                <input class="input" type="text" name="pincode" placeholder="Pin code" [(ngModel)]="newshipping.pincode" required [class.is-valid]="pincode.valid" [class.is-invalid]="pincode.invalid" #pincode="ngModel">

                                <div [hidden]="pincode.valid ||pincode.untouched">
                                    <small *ngIf="pincode.errors?.['required']">
                                        <h6 class="text-danger"> Pin Code required</h6>
                                      </small>
                                </div>
                            </div>

                            <div class="form-group">
                                <input class="input" type="text" name="message" placeholder="Message" [(ngModel)]="newshipping.message">
                            </div>

                        </div>
                        <!-- /Billing Details -->


                        <!-- /Shiping Details -->


                    </div>

                    <!-- Order Details -->
                    <div class="col-md-5 order-details">
                        <div class="section-title text-center">
                            <h3 class="title">Your Order</h3>
                        </div>
                        <div class="order-summary">
                            <div class="order-col">
                                <div><strong>PRODUCT</strong></div>
                                <div><strong>TOTAL</strong></div>
                            </div>
                            <div class="order-products">

                                <ng-container *ngFor="let cart of cartlist">
                                    <ng-container *ngFor="let prod of prdlisticat">
                                        <ng-container *ngIf="prod.id==cart.product_id">
                                            <div class="order-col">
                                                <div>{{cart.prod_qty }}x {{prod.name}}</div>
                                                <div>{{sum(prod.selling_price,cart.prod_qty)}}</div>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </div>


                        </div>


                        <input type="submit" class="primary-btn order-submit" [disabled]="formvali.invalid" value="Place order">
                        <br><br>
                        <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                    </div>
                </form>
                <!-- /Order Details -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->



    <!-- jQuery Plugins -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/nouislider.min.js"></script>
    <script src="js/jquery.zoom.min.js"></script>
    <script src="js/main.js"></script>

</body>

</html>
