<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forgot Password</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />

</head>

<body>


  <ng-container *ngIf="showconfirmpassword==0">
    <div class="container-login100" style="background-image: url('assets/login/images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
            <form class="login100-form validate-form" method="POST" [formGroup]="formGroup" (ngSubmit)="resetpassword()" >
              <h3 class="text-center "><i class="fa fa-lock fa-5x"></i></h3>
                <span class="login100-form-title p-b-37">
				          	Forgot Password ?
				          </span>

                <div class="wrap-input100 validate-input m-b-20" data-validate="Enter Your email">
                    <input type="email" name="email" formControlName="email" class="input100 " aria-describedby="emailHelp" required placeholder="Enter Your email">
                    <span class="focus-input100"></span>
                </div>
                <div  *ngIf="err_email" class="text-danger mb-2">
                  {{err_email}}
                  </div>

                <div class="mb-5 mx-5">
                  <a href="/login" >
                       Login?
                        </a>
                    </div>

                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">
					              	Reset Password
				                	</button>
                </div>


            </form>


        </div>
    </div>

    </ng-container>


    <ng-container *ngIf="showconfirmpassword==1">
      <div class="container-login100" style="background-image: url('assets/login/images/bg-01.jpg');">
          <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
              <form class="login100-form validate-form" method="POST" [formGroup]="passwordGroup" (ngSubmit)="confirmpassword()" >
                <h3 class="text-center "><i class="fa fa-lock fa-5x"></i></h3>
                  <span class="login100-form-title p-b-37">
                    confirm Password
                    </span>

                  <div class="wrap-input100 validate-input m-b-20" data-validate="Confrim Passwprd">
                      <input type="password" name="password" formControlName="password" class="input100 " aria-describedby="emailHelp" required placeholder="Confirm Password">
                      <span class="focus-input100"></span>
                  </div>
                  <div  *ngIf="err_password" class="text-danger mb-2">
                    {{err_password}}
                    </div>

                  <div class="mb-5 mx-5">
                    <a href="/login" >
                         Login?
                          </a>
                      </div>

                  <div class="container-login100-form-btn">
                      <button type="submit" class="login100-form-btn">
                            Send
                      </button>
                  </div>


              </form>


          </div>
      </div>

      </ng-container>




    <div id="dropDownSelect1"></div>



</body>

</html>

